#arraySearch-wrapper {
    position: relative;
    top: 40%;
}

#arraySearch {
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    white-space:nowrap;
}

.entry {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    background-color: #cc6c6c;
}

.entry-value {
    display: inline-block;
    font-size: 2rem;
    padding: 0;
    /*Vertically centering*/
    margin:auto;
    line-height:4rem;
    /*Horizontally centering*/
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#testIndex-wrapper {
    display: block;
    height: 3px;
}

#minMax-wrapper {
    display: block;
    height: 3px;
}

.arrow-up {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid black;
}

.arrow-down {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #f00;
}