#fibonacci-wrapper {
    display: table;
    position: relative;
    height: 100%;
    width: 100%;
}

/*
#makeitscroll og #fibonacci tilsammen gjør at ting funker som det skal i Firefox,
men ikke i Safari. Det er uansett en svært stygg hack
*/
/*#makeitscroll {
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    max-width: 100%;
}
#fibonacci {
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
    white-space:nowrap;
    position: relative;
    max-width: 10px;
    overflow-x: scroll;
}*/

#fibonacci {
    /* Følgende to linjer ødelegger for scrollen, men trengs for vertikal sentrering */
    display: table-cell;
    vertical-align: middle;

    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    max-width: 100%;

    /* Følgende linje ødelegger for max-width, men trengs for å få tallene på én linje */
    white-space:nowrap;
}


.fibonacci-entry {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    margin: 0;
    padding: 0;
}

.fibonacci-value {
    display: inline-block;
    font-size: 2rem;
    padding: 0;
    /*Vertically centering*/
    margin:auto;
    line-height:4rem;
    /*Horizontally centering*/
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#nMinusMarker {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    padding: 0;
    margin: 0;
    width: 4rem;
    height: 4rem;
}

#plusMark {
    font-size: 2rem;
    color: red;
    /*Vertically align*/
    margin:auto;
    line-height:4rem;
}

