svg {
    margin: 0 auto;
    position: relative;
    width:100%;
    /*height:100%;*/
    height: 500px;
    top:0;
    left:0;
    bottom:0;
    right:0;
    text-align: center;
}

.data rect {
    fill: rgb(200, 200, 230);
    stroke-width: 1px;
    stroke:rgb(150, 100, 100);
}

.data text {
    /*font-size: 24px;*/
   /* alignment-baseline: middle;
    text-anchor: middle;*/
    /*fill: black;*/

    /*<g>
    **<rect x="0" y="0" width="60" height="60" fill="red"></rect>
    **<text x="30" y="30" font-family="Verdana" font-size="32" fill="blue" alignment-baseline="middle" text-anchor="middle">1</text>
    **</g>*/
}

.nextArrow {
    stroke: blue;
}
.nextArrowLine {
    stroke-width: 3px;
    fill: none
}
.nextArrowHead {
    fill: lightblue;
}

.prevArrow {
    stroke: green;
}
.prevArrowLine {
    stroke-width: 3px;
    fill: none
}
.prevArrowHead {
    fill: lightgreen;
}

.pointer {
    stroke: black;
}
.pointerLine {
    stroke-width: 5px;
    fill: none
}
.pointerHead {
    fill: black;
}