path {
    stroke: #000000;
    stroke-width: 2;
    fill: none;
}
.intersection {
    stroke-width: 2;
    fill: yellow;
    stroke: blue;
}
.intersection:hover {
    cursor: pointer;
}
.area {
    fill: none;
    stroke: none;
}
.building {
    fill: orange;
    stroke: red;
    stroke-width: 1;
}
.grass {
    fill: lawngreen;
    stroke: none;
    opacity: 0.35;
}