#queue-wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

#queue {
    display: table-cell;
    vertical-align: middle;
    padding: 20px
}

.queue-entry {
    border:solid 1px;
    width: 10vmin;
    height: 10vmin;
}

.queue-value {
    font-size: 2em;
}