#queue-wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

#queue {
    display: table-cell;
    vertical-align: middle;
    padding: 20px
}

.queue-entry {
    border:solid 1px;
    width: 10vmin;
    height: 10vmin;
}

.queue-value {
    position: relative;
    top: -20%;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 2.5vmax;
}