#stack-wrapper {
    display: table;
    height: 70%;
    width: 100%;
    margin-top: 25vh;
    overflow-x: hidden;
    padding-bottom: 5vh;
}

#stack {
    display: table-cell;
    vertical-align: bottom;
}

.stack-entry {
    border:solid 1px;
    width: 18vw;
    height: 10vh;
    margin-left:auto;
    margin-right: auto;
}

.stack-value {
    text-align: center;
    font-size: 2.5vmax;
}