.stack-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.stack-entry {
    border:solid 1px;
    height: 7vh;
    width: 18vw;
    display: block;
}

.stack-value {
    line-height: 14px;
    font-size: 2.5vmax;
    vertical-align: central;
}