.towerOfHanoiContainer {
    width:100%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    /*top:30%;*/
    height: 100%;
    padding-bottom: 2em;
    text-align: center;
}

svg {
    margin: 0 auto;
    position: relative;
    width:100%;
    height: 100%;
    /*height: 500px;*/
    top:0;
    left:0;
    bottom:0;
    right:0;
    text-align: center;
}

#pegs {
    fill: rgb(75, 75, 75);
    stroke-width: 0px;
}

.disk {
    fill: rgb(200, 200, 230);
    stroke-width: 1px;
    stroke:rgb(150, 100, 100);
}