<div id="animation-player" class="row">
    <div class="col s12 valign-wrapper no-padding" style="height: 100%;">
        <div class="col s12 valign no-padding">
            <ul class="col s12 valign-wrapper no-margin no-padding">
                <li class="col s1 valign no-padding-right">
                    <a>
                        <i id="play-button" class="material-icons center-align clickable-icon noselect">play_arrow</i>
                    </a>
                </li>
                <li class="col s6 valign no-padding-right">
                    <form action="#">
                        <p class="range-field no-margin">
                            <input type="range" id="seek-bar" min="0" max="100" value="0" />
                        </p>
                    </form>
                </li>
                <li class="col s1 valign no-padding-right">
                    <a>
                        <i id="step-prev" class="material-icons center-align clickable-icon noselect">undo</i>
                    </a>
                </li>
                <li class="col s1 valign no-padding-right">
                    <a>
                        <i id="step-next" class="material-icons center-align clickable-icon noselect">redo</i>
                    </a>
                </li>
                <li class="col s1 valign no-padding-right">
                    <a>
                        <i class="material-icons no-select right-align">timer</i>
                    </a>
                </li>
                <li class="col s2 valign">
                    <form action="#">
                        <p class="range-field no-margin">
                            <input type="range" id="speed-bar" min="0.2" max="5" value="1"  step="0.1"/>
                        </p>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    
</div>