{{#if this.commands}}
<div id="command-widget">
    <div id="expand-tab">
        <a href="#" class="red valign-wrapper" onclick="toggleFadeState($('#command-items-wrapper'));">
            <i class="material-icons tiny valign white-text">play_arrow</i>
        </a>
    </div>
    <div id="command-items-wrapper"  style="display: none;">
        <ul id="command-items-content">
            {{#each this.commands}}
            <li style="display: table-row;">
                <a href="#" style="display: table-cell;">
                    <div onclick="{{#if this.arguments}}toggleFadeState($('#argument-wrapper')){{else}}window['{{this.function}}']();{{/if}}" class="command-item white-text valign-wrapper">
                        <p class="valign">{{this.name}}</p>
                    </div>
                </a>
                {{#if this.arguments}}
                <div class="command-item white-text" id="argument-wrapper">
                    <div class="valign-wrapper" style="display: table-row">
                        <form class="valign" method="post" onsubmit="handleFunctionSubmit('{{this.function}}' , $(this))">
                            {{#each this.arguments}}
                            <div class="input-wrapper">
                                {{#if this.options}}
                                <select name="{{this.name}}" class="browser-default argument-select" data-type="{{this.type}}">
                                    <option value="" disabled selected>{{this.placeholder}}</option>
                                    {{#each this.options}}
                                    <option value="{{this}}">{{this}}</option>
                                    {{/each}}
                                </select>
                                {{else}}
                                <input class="argument-input" placeholder="{{this.placeholder}}" type="text" name="{{this.name}}" data-type="{{this.type}}">
                                {{/if}}
                            </div>                 
                            {{/each}}
                            <div class="input-wrapper submit-wrapper">
                                <input type="submit" value="Go" class="waves-light waves-effect"/>
                            </div>
                        </form>
                    </div>
                </div>
                {{/if}}
            </li>
            {{/each}}
        </ul>
    </div>
</div>
{{/if}}