{{#if this.commands}}
<div id="command-widget">
    <div id="expand-tab">
        <a href="#" class="red valign-wrapper" onclick="$('#command-items-wrapper').fadeToggle(200);">
            <i class="material-icons tiny valign white-text">play_arrow</i>
        </a>
    </div>
    <div id="command-items-wrapper">
        <ul id="command-items-content">
            {{#each this.commands}}
            <li style="display: table-row;">
                <a href="#" style="display: table-cell;">
                    {{!Calls the function associated with the box, but if it has arguments, toggle the visibility of the argument boxes.}}
                    <div onclick="{{#if this.arguments}}$(this).parent().parent().children().last().fadeToggle(200, function(){if($(this).css('display') != 'none')$(this).css('display', 'table-cell')});{{else}}window['{{this.function}}']();{{/if}}" class="command-item white-text valign-wrapper">
                        <p class="valign">{{this.name}}</p>
                    </div>
                </a>
                {{#if this.arguments}}
                <div class="command-item white-text" style="display: none; margin: 0; height: 50%; max-height: 5vh; width: 100% !important;">
                    <div class="valign-wrapper" style="width: 100%; height: 100%;">
                        <form class="valign" method="post" onsubmit="handleFunctionSubmit('{{this.function}}' , $(this))">
                            {{#each this.arguments}}
                            <div style="height: 3vh; overflow: hidden; padding: 0; display: inline-block;  width: 5vw;">
                                <input class="argument-input" placeholder="{{this.placeholder}}" type="text" name="{{this.name}}" data-type="{{this.type}}">
                            </div>                 
                            {{/each}}
                            <input type="submit" value="Go" style="display: none;"/>
                        </form>
                    </div>
                </div>
                {{/if}}
            </li>
            {{/each}}
        </ul>
    </div>
</div>
{{/if}}