<main>
    <div class="container" style="margin-top: 1em">
        <div class="row" style="margin-bottom: 0">
            {{#each categories}}
            <div class="col s12 m4">
                <div class="card white hoverable">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{image}}"/>
                    </div>
                    <div class="card-content activator">
                        <span class="card-title grey-text text-darken-4 activator noselect">{{name}}</span>

                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i
                                class="material-icons right">close</i></span>
                        <p>Lorem ipsum dolor sit amet, et duo minim gloriatur, pri rebum dicam intellegam cu, dolore
                            epicuri
                            temporibus eu cum. Labitur omittam singulis sed ad. Usu quod mentitum an. At liber nusquam
                            scaevola quo.</p>
                    </div>
                    <!--<div class="card-action" style="padding-bottom: 2em">
                        {{#each subCategories}}
                        <a class="col l5 text-darken-3 red-text" href="./{{this.id}}.html">{{this.name}}</a>
                        {{/each}}
                    </div>-->
                </div>
            </div>
            {{/each}}
        </div>

    </div>
</main>
